* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8dcda;
}

.auth-form {
  text-align: center;
}

.auth-form button {
  margin-top: 16px;
}

.auth-form-wrapper {
  padding: 24px 32px;
}

.auth-grid {
  min-height: 60vh;
}

.auth-form .auth-form-link-wrapper {
  margin-top: 16px;
}

.image-preview {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}
